html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.outer-box {
	padding-right: 3rem;
	padding-left: 3rem;
}

@media screen and (min-width: 600px) {
	.outer-box {
		padding-right: 32rem;
		padding-left: 32rem;
	}
}
